.footer {
  background: #a7a9ac;
  font-family: "Montserrat", sans-serif;
  padding: 0 10%;
  padding-bottom: 20px;
}

.footer-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
}

/* ================= LOGO ================= */

.footer-logos img {
  width: 250px;
}

/* ================= RIGHT CONTENT AREA ================= */

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 60px;
}

/* ================= LINKS ================= */

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-col a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  transition: 0.3s ease;
}

.footer-col a:hover {
  color: #444;
  transform: translateX(3px);
}

/* ================= CONTACT ================= */

.footer-contact p {
  margin-bottom: 12px;
  font-size: 15px;
}

.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 12px;
  font-size: 12px;
}

.social-icons i {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.social-icons i:hover {
  background: #000;
  color: #fff;
}

/* ================= BOTTOM ================= */

.footer-bottom {
  max-width: 1920px;
  width: 100%;
  margin: auto 0;
  padding-top: 20px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* ================= 1440px ================= */

@media (max-width: 1440px) {
  .footer-container {
    gap: 40px;
  }

  .footer-content {
    gap: 40px;
  }
}

/* ================= 1024px ================= */

@media (max-width: 1024px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .footer-logos {
    text-align: center;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footer-contact {
    grid-column: span 2;
    text-align: center;
  }
}

/* ================= 768px ================= */

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-col {
    align-items: center;
  }

  .footer-contact {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

/* ================= 575px ================= */

@media (max-width: 575px) {
  .footer {
    padding: 50px 20px 30px;
  }

  .footer-logos img {
    width: 160px;
  }

  .footer-col a,
  .footer-contact p {
    font-size: 14px;
  }

  .social-icons i {
    width: 32px;
    height: 32px;
    font-size: 13px;
  }

  .footer-bottom {
    font-size: 13px;
  }
}
