.gt-partners-section {
  background-color: #2c3e6b;
  text-align: center;
  padding: 40px 0;
  font-family: sans-serif;
  color: #fff;
}

.gt-partners-header {
  margin-bottom: 40px;
}

.gt-partners-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}

.gt-partners-grid-container {
  max-width: 100%;
  margin: 0 auto;
  border-top: 1px solid #fff;
}

.gt-partners-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gt-partner-box {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.gt-partner-box:nth-child(5n) {
  border-right: none;
}

.gt-logo-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gt-logo-card img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1440px) {
  .gt-partners-grid-container {
    max-width: 1440px;
  }
}

@media (max-width: 1024px) {
  .gt-partners-grid-container {
    max-width: 1024px;
  }
  .gt-partner-box {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .gt-partners-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .gt-partner-box {
    border-right: 1px solid #fff;
  }
  .gt-partner-box:nth-child(5n) {
    border-right: 1px solid #fff;
  }
  .gt-partner-box:nth-child(3n) {
    border-right: none;
  }
}

@media (max-width: 575px) {
  .gt-partners-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .gt-partner-box:nth-child(3n) {
    border-right: 1px solid #fff;
  }
  .gt-partner-box:nth-child(2n) {
    border-right: none;
  }
  .gt-logo-card img {
    max-width: 85%;
  }
}
